.stage-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.stage-title h3 {
  text-transform: capitalize;
}

.task-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.task-list li {
  display: flex;
  gap: 0.5rem;
}
